@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.game_window {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.battle_field {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 37vw;
  height: 37vw;
  cursor: pointer;
  padding-bottom: 1px;
  @media screen and (max-width: 1024px) {
    width: 70vw;
    height: 70vw;
  }
  @media screen and (max-width: 567px) {
    width: 85vw;
    height: 85vw;
  }
}

.battle_info {
  margin-top: 30px;
  width: 37vw;
  min-height: 150px;
  border: 1px solid black;
  @media screen and (max-width: 1024px) {
    width: 70vw;
  }
  @media screen and (max-width: 567px) {
    width: 85vw;
  }
}

.battle_cell {
  display: flex;
  width: calc(3.36vw);
  height: calc(3.36vw);
  border: 1px solid black;
  background: #75a6d7;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    width: calc(6.36vw);
    height: 6.36vw;
  }
  @media screen and (max-width: 567px) {
    width: calc(7.725vw);
    height: 7.725vw;
  }

  &:hover {
    border: 1px solid red;
  }

  p {
    font-size: 20px;
    font-weight: bold;
  }
}

.battle_cell--white {
  background-color: white;
  border: 1px solid white;
  &:hover {
    border: none;
  }
  cursor: default;
}

.battle_cell--red {
  background-color: red;
}
